html, body{
    margin:0;
    padding:0;
    width: 100%;
    height:100%;
    font-family: 'Poppins' !important;

}


body{

    background: url('photo-1547499417-61a435d27cb3.jpg') no-repeat 50% 50%;
    background-size: cover;
}

.logo{
    line-height: 40px;
    float:left;
    margin: 1.2em 0 0 2.2em;
    font-weight:bolder;
    color:#fff;
}



.social-media{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
}

.social-media ul li{
    list-style: none;
    color:#fff;
    padding-top:20px;
}

body > div.wrapper > div.social-media > ul > li:nth-child(1) > a > i{
    color:#fff;
}

body > div.wrapper > div.social-media > ul > li:nth-child(2) > a > i{
    color:#fff;
}



.header{
    position: absolute;
    top:38%;
    left:46%;
    transform: translate(-50%, -50%);
}

.header h1{
    color:#fff;
    font-weight:bolder;

}

.header p {
    color:#fff;
    font-weight: lighter;
}

.header a{
   /* margin-top: 12px;*/
    display:flex;
    border:none;
    padding: 16px 40px;
    background:#fff;
    color:#000;
    letter-spacing: 4px;
    font-weight:600;
    font-size:12px;
    width:250px;
    
    
}



.header a:hover{
    background:#000;
    color:#fff;
    -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
    text-decoration: none;

}


.bottom-bar{
    color:#fff;
    position: absolute;
    bottom:0px;
    left:0;
    right:0;

}

.row{
    padding: 2.6em 2.6em 2em 2.6em;
    background:#000;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;

}

.bottom-bar h6{
    font-weight:bolder;
    text-transform: uppercase;
    text-align:center;

}

.bottom-bar p{
    font-size: 14px;
    font-weight:lighter;
}

.intro{
    z-index:1;
    position: absolute;
    width: 100%;
    height:100vh;
    background:#fff;
    top:0%

}


.intro h1{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    font-size:20px;
    letter-spacing: 12px;
}


/*IPHONE 5 ---*/
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 320px){
    .header{
        padding-left:25px;
    }
    
    
    .row{
        background: transparent;
        color:transparent;
    }

    ul{
        padding-left:10px;
    }

}

/*----IPHONE 6/7/8--- */

@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) { 
body{
    width:100%;
    height:100%;
}

    .row{
    background: transparent;
    color:transparent;
}

ul{
    padding-left:20px;
}

body > div.wrapper > div.social-media > ul > li:nth-child(2) > a > i{
    color:#fff;
}

    }